---
layout: default
---
<div class="post">

  <header class="post-header">
		<h1 class="post-title">
			{%if page.type == "origin" %}<span class="origin"/>{% endif%}
			{%if page.type == "copy" %}<span class="copy"/>{% endif%}
			{%if page.type == "translation" %}<span class="trans"/>{% endif%}
				{{ page.title }}
		</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
